<%- include('header') -%> 

<%- include('nav') -%>

    
     

<h2>This is the about page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore natus officiis aut? Facere repudiandae veniam officiis voluptate soluta, cumque beatae provident aut quibusdam. Sint nam libero nulla, illo explicabo iste.</p>

<%- include('footer') -%> 