<style>
a{
margin-top: 5px;
}
</style>
<div>

    <a href="/" type="button" class="btn btn-outline-success">Home</a>

    <a href="/work" type="button" class="btn btn-outline-secondary">Work</a>
    
    <a href="/about" type="button" class="btn  btn-outline-primary">About</a>
    


</div>
    

